$gutter: 30px;
$cols:8;

@mixin col($num) {
  width: calc((((100% - (#{$gutter} * (#{$cols} - 1))) / #{$cols}) * #{$num}) + #{$gutter} * (#{$num} - 1));
}

@mixin col-nesting($num) {
  width: calc((100% / #{$cols}) * #{$num});
  padding: 0 $gutter/2;
}